/* General Styles */
body {
    margin:0;
    font-family:'Beiruti','Funnel Sans','Hind Mysuru','SUSE';
}

a {
    color: red;
    text-decoration:none;
    transition-duration:0.3s;
}

a:hover {
    font-size:120%;
    transition-duration:0.3s;
}

/* Nav Styles */
nav {
    background-color:pink;
    display:flex;
    flex-flow:row;
    justify-content:space-between;
    padding:10px;
}

/* Footer Styles */
footer {
    background-color:pink;
    padding:20px;
    display:flex;
    justify-content:center;
}

/* Splash Section */
.splash {
    text-align:center;
}

.splash h1 {
    color:crimson;
    font-family:'Funnel Sans','Hind Mysuru','SUSE';
}

.splash img {
    border-radius:10px;
}

#intro {
    font-size:larger;
    font-weight:500;
}

#address {
    color:rgb(124, 24, 24);
    font-size:11pt;
    font-weight:600;
}

/* Horizontal Rules */
hr {
    border-color:black;
    border-width:5px;
    border-style:double;
}

/* Sections */
section {
    text-align:left;
}

.edu p {
    font-size:large;
    margin-left:20px;
}
#p1 {
    font-size: larger;
}

/* Section Headings */
section h2 {
    margin-left:10px;
    color:darkred;
    font-family:'Funnel Sans','Hind Mysuru','SUSE';
}

/* List Styles */
ul li{
    margin-bottom:4px;
    font-size:14pt;
    font-weight:400;
}

dl {
    border: solid lightgray;
    border-width:1px;
    margin-left:20px;
    display:grid;
    grid-template-columns:1fr 1fr;
    margin-right:20px;
}
dl dt, dd{
    border-bottom:solid lightgray;
    border-width:1px;
    padding:20px;
    margin-left:0px;
    border-right:solid lightgray;
    border-width:1px;
    font-size:13pt;
}

/* Project Section */
.three-col {
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(500px,1fr));
    margin-bottom:40px;
    margin-left:20px;
    margin-right:13px;
    
}

.card {
    width:500px;
    border-radius:10px;
    background-color:rgb(255, 223, 227);
    margin-right:7px;
    transition-duration:0.3s;
    font-size:13pt;
}

.card:hover {
    box-shadow:4px 4px lightgray;
    transition-duration:0.3s;
}

.card img {
    width:500px;
    border-radius:10px;
}

.card h3 {
    display:flex;
    justify-self:center;
}

/* Contact Page Styles */
.one-col {
    display:grid;
    grid-template-columns:1fr;
    justify-self:center;
}

.one-col h1 {
    display:flex;
    justify-self:center;
    font-family:'Funnel Sans','Hind Mysuru','SUSE';
}

form input, form textarea {
    margin-bottom:3px;
    display:flex;
    justify-self:center;
}

form input:focus, form textarea:focus {
    color:red;
    background-color:rgb(255, 224, 230);
}

form button {
    display:flex;
    justify-self:center;
}

form button:hover {
    color:red;
    background-color:pink;
}

#end{
    border-color:none;
    border-style:none;
}

#f{
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
}

